node_modules
*.log
*.orig
.DS_Store
coverage/
.iprs/
watchman.log
.expo/
expo/
package-lock.json
.npm
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.env
.env.*
*.tsbuildinfo
